.card, .card-header, .card-footer{
    border: none;
    background-color: #40454b;
}
.btn-login, .btn-login:hover, .btn-new, .btn-new:hover, .btn-save, .btn-save:hover{
    background-color: #651BE7;
    border-color: #651BE7;
    border-radius: 15px;
}
.btn-close, .btn-view, .btn-edit, .btn-delete{
    border-radius: 15px;
}
.navbar{
    background-color: #651BE7;
}
.e-icone{
    border-radius: 10px;
}
thead{
    background-color: #651BE7;
}
tbody{
    background-color: #39009c;
}